html{
    background: #0377C6;
}

body{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.main_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    display:flex;
    width:1900px;
    height:100px;
    justify-content: space-around;
    background-color:rgba(0, 0, 0, .2);
    align-items: center;
}

.menu p{
    font-family: 'Geologica';
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
    color: #ffffff;
}

.menu h3{
    font-family: 'Geologica';
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    color:#ffffff;
}

.block_aboutus{
    width:1800px;
    height:600px;
}

.block_au_maintxt h3{
    font-family: Geologica;
    font-size: 86px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;
}

.block_au_txt p{
    font-family: Geologica;
    font-size: 22px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;
}

.block_aboutus_maininfo{
    width:1200px;
    display:flex;
    justify-content: space-between;
}

.block_info{
    position:relative;
    width:300px;
    height:420px;
}

.block_info_txt{
    position:absolute;
    width:100px;
    height:100px;
}

.block_one{
    bottom:90px;
    right:30px;
}

.block_two{
    top:20px;
    left:60px;
}

.block_three{
    top:100px;
    left:80px;
}

.block_info_txt p{
    font-family: Geologica;
    font-size: 42px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;
}

footer{
    width:1900px;
    height:200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #004e83;
    margin-top:100px;
}

.block_footer_contact p{
    font-family: Geologica;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    color:#ffffff;
}

a{
    text-decoration: none;
    color:#ffffff;
}

.block_footer_logo{
    font-family: Geologica;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    color:#ffffff;
}

.block_footer_tele{
    font-family: Geologica;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    color:#ffffff;
}