html{
    background: #0377C6;
}

body{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.main_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    display:flex;
    width:1900px;
    height:100px;
    justify-content: space-around;
    background-color:rgba(0, 0, 0, .2);
    align-items: center;
}

.menu p{
    font-family: 'Geologica';
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
    color: #ffffff;
}

.menu h3{
    font-family: 'Geologica';
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    color:#ffffff;
}

.block_tours{
    display:flex;
    flex-direction: column;
}

.block_t_maintxt{
    top:0px;
    width:300px;
    height:300px;
}

.block_t_maintxt h3{
    font-family: Geologica;
    font-size: 128px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;
}

.block_countries{
    display:flex;
    align-items: center;
}

.block_c_f{
    display:flex;
}

.block_c_txt{
    padding:5px;
    position:relative;
}

.block_c_txt p{
    position:absolute;
    bottom:10px;
    left:20px;
    font-family: Geologica;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;
}

.block_c_s{
    position:relative;
}

.block_cs_txt{
    position:absolute;
    top:10px;
    left:450px;
    font-family: Geologica;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;
}

.block_c_s_s{
    position:relative;
}

.block_css_txt{
    position:absolute;
    top:10px;
    left:10px;
}

.block_css_txt p{
    font-family: Geologica;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;
}

.block_css_s_txt{
    position:absolute;
    top:100px;
}

.block_css_s_txt p{
    font-family: Geologica;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;        
}

.block_discount{
    position:relative;
    text-align: center;
    margin:30px;
    margin-top:60px;
}

.block_d_txt{
    position:absolute;
    top:15px;
    left:300px;
}

.block_d_txt p{
    font-family: Geologica;
    font-size: 28px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;
    text-align: center;
}

.block_switzerland{
    width:800px;
    height:600px;
    position:relative;
}

.block_s_txt p{
    font-family: Geologica;
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;
}

.block_s_txt{
    position:absolute;
    top:250px;
    left:50px;
}

.block_calc_dc{
    top:50px;
position:relative;
bottom:100px;
}

.block_cdc_maintxt{
    position:absolute;
    top:-90px;
    left:20px;
}

.block_cdc_maintxt h3{
    font-family: Geologica;
    font-size: 64px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;
}

.block_input_outin{
    position:absolute;
    top:90px;
    right:50px; 
}

.block_input_date{
    position:absolute;
    top:200px;
    left:100px;
}

.block_input_peoples{
    position:absolute;
    top:200px;
    right:500px;
}

.block_input_bags{
    position:absolute;
    top:200px;
    right:70px;
}

.block_cdc_btn button{
    width:340px;
    height:60px;
    border:none;
    border-radius: 50px;
    font-family: Geologica;
    font-size: 16px;
    font-style: italic;
    font-weight: 900;
    color:#0377C6;
    transform: rotate(-10deg);
    position:absolute;
    right:-20px;
    top:260px;
}

.block_discount{
    top:100px;
}

footer{
    width:1900px;
    height:200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #004e83;
    margin-top:100px;
}

.block_footer_contact p{
    font-family: Geologica;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    color:#ffffff;
}

a{
    text-decoration: none;
    color:#ffffff;
}

.block_footer_logo{
    font-family: Geologica;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    color:#ffffff;
}

.block_footer_tele{
    font-family: Geologica;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    color:#ffffff;
}